@using Entertainmentcareers.net.Shared;
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage
@inject MudBlazor.ISnackbar snackBar
@inject HttpClient Http
@inject IJSRuntime Js
@inject NavigationManager navigationManager

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Style="background-color: #0E5FAC;">
        <MudSpacer />
        <MudMenu ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.BottomCenter" Dense="true">
            <ActivatorContent>
                <MudButton EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Variant="Variant.Text" Style="text-transform:none;" Class="text-white mr-2">Resources</MudButton>
            </ActivatorContent>
            <ChildContent>
                <MudMenuItem>Finding A Job</MudMenuItem>
                <MudMenuItem>Avoiding Scams</MudMenuItem>
                <MudMenuItem>Protect Yourself</MudMenuItem>
                <MudMenuItem>Performer Resources</MudMenuItem>
                <MudMenuItem>Industry Research</MudMenuItem>
            </ChildContent>
        </MudMenu>
        <MudMenu ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.BottomCenter" Dense="true">
            <ActivatorContent>
                <MudButton EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Variant="Variant.Text" Style="text-transform:none;" Class="text-white mr-2">Support</MudButton>
            </ActivatorContent>
            <ChildContent>
                <MudGrid Spacing="0">
                    <MudItem xs="5">
                        <MudText Typo="Typo.subtitle2" Class="ml-4"><b>FOR JOBSEEKERS</b></MudText>
                        <MudMenuItem>Getting Started</MudMenuItem>
                        <MudMenuItem>Job Posting</MudMenuItem>
                        <MudMenuItem>Internships</MudMenuItem>
                        <MudMenuItem>Upgrades</MudMenuItem>
                        <MudMenuItem> How to Videos</MudMenuItem>
                        <MudMenuItem>Technical Support</MudMenuItem>
                    </MudItem>
                    <MudItem xs="1" Style="border-right: 1px solid #1B3247; opacity:0.1; bor">
                    </MudItem>
                    <MudItem xs="6">
                        <MudText Typo="Typo.subtitle2" Class="ml-4"><b>FOR EMPLOYERS</b></MudText>
                        <MudMenuItem>General</MudMenuItem>
                        <MudMenuItem>Q&A</MudMenuItem>
                        <MudMenuItem>Resources</MudMenuItem>
                        <MudMenuItem>Resume Delivery</MudMenuItem>
                        <MudMenuItem>Account Management</MudMenuItem>
                        <MudMenuItem>Contact Us</MudMenuItem>
                        <MudMenuItem>Job Posting Security</MudMenuItem>
                    </MudItem>
                </MudGrid>
            </ChildContent>
        </MudMenu>
        <MudButton Variant="Variant.Text" Style="text-transform:none;" Class="text-white mr-2">About</MudButton>
        <MudButton Variant="Variant.Text" Style="text-transform:none;" Class="text-white mr-8">Contact Us</MudButton>
        <AuthorizeView>
            <Authorized>
                <MudMenu ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.BottomCenter" Dense="true">
                    <ActivatorContent>
                        <MudButton StartIcon="@Icons.Material.Filled.Person2" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Size="Size.Large" Variant="Variant.Filled" Style="background-color: #084A88;" Class="text-white">@user.FirstName</MudButton>
                    </ActivatorContent>
                    <ChildContent>
                        <MudMenuItem Href="/profile">Account Overview</MudMenuItem>
                        <MudMenuItem>Application History</MudMenuItem>
                        <MudMenuItem>Job Preferences</MudMenuItem>
                        <MudMenuItem>Billing Settings</MudMenuItem>
                        <MudMenuItem>My Custom View</MudMenuItem>
                        <MudMenuItem>My Saved Jobs</MudMenuItem>
                        <MudMenuItem OnClick="()=>LogOut()">Log Out</MudMenuItem>
                    </ChildContent>
                </MudMenu>
            </Authorized>
            <NotAuthorized>
                <MudButton Href="/signin" Size="Size.Large" Style="background-color: #084A88;" Class="text-white" StartIcon="@Icons.Material.Filled.Login" Variant="Variant.Filled">SIGN IN</MudButton>
            </NotAuthorized>
        </AuthorizeView>
    </MudAppBar>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="pt-3">
            <MudGrid Style="background-color:#136BBE;">
                <MudItem xs="2" Class="text-center">
                    <a href="/"><MudImage Src="Images/Group 53.png" Fluid="true" /></a>
                </MudItem>
                <MudItem xs="7" Class="text-center">
                <MudButton Size="Size.Large" Href="/category" Variant="Variant.Text" Class="text-white mr-2">Jobs</MudButton>
                <MudButton Size="Size.Large" Href="/internships" Variant="Variant.Text" Class="text-white mr-2">Internships</MudButton>
                    <MudButton Size="Size.Large" Href="/companies" Variant="Variant.Text" Class="text-white mr-2">Companies</MudButton>
                    <MudMenu FullWidth="true" ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.BottomCenter" Dense="true">
                        <ActivatorContent>
                            <MudButton Size="Size.Large" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Variant="Variant.Text" Class="text-white mr-2">JOB SEEKERS </MudButton>
                        </ActivatorContent>
                        <ChildContent>
                                    <MudMenuItem Href="/myjobs">My Jobs</MudMenuItem>
                                    <MudMenuItem Href="/resources">Resources</MudMenuItem>
                                    <MudMenuItem Href="/jobalert">Job Alert</MudMenuItem>
                                    <MudMenuItem>Support</MudMenuItem>
                        </ChildContent>
                    </MudMenu>
                    <MudMenu FullWidth="true" ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.BottomCenter" Dense="true">
                        <ActivatorContent>
                            <MudButton Size="Size.Large" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Variant="Variant.Text" Class="text-white">EMPLOYERS</MudButton>
                        </ActivatorContent>
                        <ChildContent>
                            <MudMenuItem Href="/postjob">Post a Job</MudMenuItem>
                            <MudMenuItem Href="/joblist">My Postings</MudMenuItem>
                                    <MudMenuItem>Support</MudMenuItem>
                                    <MudMenuItem>Employer FAQ</MudMenuItem>
                        </ChildContent>
                    </MudMenu>
                </MudItem>
                <MudItem xs="3" Class="text-center">
                <MudTextField @bind-Value="Search" Style="background-color: #FFFFFF; max-width:300px" Margin="Margin.Dense" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" Placeholder="Search for any job or keyword" AdornmentColor="Color.Default" />
                </MudItem>
            </MudGrid>

            <MudGrid Class="border mt-3" Justify="Justify.Center">
                <MudItem xs="9">
                    <MudButton Size="Size.Medium" Variant="Variant.Text" Href="/category" Style="text-transform:none; color:#08243D;">Explore</MudButton>
                    <MudButton Size="Size.Medium" Variant="Variant.Text" Href="/myjobs" Style="text-transform:none; color:#08243D;" Class="ml-6">My Jobs</MudButton>
                    <MudButton Size="Size.Medium" Variant="Variant.Text" Href="/internships" Style="text-transform:none; color:#08243D;" Class="ml-6">Internships</MudButton>
                    <MudButton Size="Size.Medium" Variant="Variant.Text" Href="/resources" Style="text-transform:none; color:#08243D;" Class="ml-6">Resources</MudButton>
                    <MudButton Size="Size.Medium" Variant="Variant.Text" Style="text-transform:none; color:#08243D;" Class="ml-6">Support</MudButton>
                </MudItem>
                <MudItem xs="2">
                    <MudButton Size="Size.Small" Href="/membersfeatures" StartIcon="@Icons.Material.Outlined.People" Variant="Variant.Filled" Style="text-transform:none; background-color:#D8E4EA; color:#136BBE; float:right">Member Features</MudButton>
                </MudItem>
            </MudGrid>

            @Body

            <MudGrid Style="background-color:#F0F7FB;" Justify="Justify.Center">
                <MudItem xs="10">
                    <MudGrid Class="mt-8">
                        <MudItem xs="3" Class="text-center">
                            <MudImage Src="Images/Group 17.png" Height="55" Width="145" Class="mt-1"/>
                        </MudItem>
                        <MudItem xs="2">
                            <MudText Typo="Typo.h6" Style="color:#08243D;font-family: 'Oswald';">SUPPORT</MudText>
                            <ul class="list-unstyled mt-4">
                                <li><a href="#" style="color:#0D3255;">Report A Problem</a></li>
                                <li><a href="#" style="color:#0D3255;">Job Seeker FAQ</a></li>
                                <li><a href="#" style="color:#0D3255;">Employer FAQ</a></li>
                                <li><a href="#" style="color:#0D3255;">Contact Us</a></li>
                            </ul>
                        </MudItem>
                        <MudItem xs="2">
                            <MudText Typo="Typo.h6" Style="color:#08243D;font-family: 'Oswald';">EMPLOYERS</MudText>
                            <ul class="list-unstyled mt-4">
                                <li><a href="/postjob" style="color:#0D3255;">Post A Job</a></li>
                                <li><a href="#" style="color:#0D3255;">Employer FAQ</a></li>
                                <li><a href="#" style="color:#0D3255;">Premium Posting</a></li>
                                <li><a href="#" style="color:#0D3255;">Who Uses Us</a></li>
                            </ul>
                        </MudItem>
                        <MudItem xs="2">
                            <MudText Typo="Typo.h6" Style="color:#08243D;font-family: 'Oswald';">ADVETISING</MudText>
                            <ul class="list-unstyled mt-4">
                                <li><a href="#" style="color:#0D3255;">Site Advertising</a></li>
                            </ul>
                        </MudItem>
                        <MudItem xs="3" Class="text-center">
                            <MudText Typo="Typo.h6" Style="color:#08243D;font-family: 'Oswald';">FOLLOW US</MudText>
                            <MudIconButton Icon="@Icons.Custom.Brands.Facebook" Size="Size.Small" Class="mt-4" Color="Color.Info" aria-label="Facebook" />
                            <MudIconButton Icon="@Icons.Custom.Brands.Twitter" Size="Size.Small" Class="mt-4" Color="Color.Info" aria-label="Twitter" />
                            <MudIconButton Icon="@Icons.Custom.Brands.YouTube" Size="Size.Small" Class="mt-4" Color="Color.Info" aria-label="Youtube" />
                            <MudIconButton Icon="@Icons.Custom.Brands.TikTok" Size="Size.Small" Class="mt-4" Color="Color.Info" aria-label="TikTok" />
                        </MudItem>
                    </MudGrid>
                    <MudGrid Justify="Justify.FlexEnd" Class="mt-4">
                        <MudImage Src="Images/image 4.png" Height="70" Width="140" />
                    </MudGrid>
                    <MudGrid Class="mt-6">
                        <MudItem xs="6">
                            <MudText Typo="Typo.body2" Align="Align.Start" Style="color:#0D3255;">© 1999-2022 EntertainmentCareers.Net • 2118 Wilshire Blvd #401, Santa Monica, CA 90403EntertainmentCareers.Net® is a trademark of EntertainmentCareers.Net, Inc. and may not be used without permission</MudText>
                        </MudItem>
                        <MudItem xs="2"></MudItem>
                        <MudItem xs="4">
                            <MudText Typo="Typo.body2" Align="Align.End" Style="color:#0D3255;">The security of your personal information is of paramount importance to us. We hire outside companies to test our security on a daily basis</MudText>
                        </MudItem>
                    </MudGrid>
                </MudItem>
            </MudGrid>
        </MudContainer>
    </MudMainContent>
</MudLayout>



@code {
    public string Search { get; set; } = string.Empty;
    ApplicationUser user = new ApplicationUser();

    protected override async Task OnInitializedAsync()
    {
        var appUser = (await AuthStateProvider.GetAuthenticationStateAsync()).User.Identity;

        if (appUser != null && appUser.IsAuthenticated)
        {
            var username = appUser.Name;
            var result = await Http.GetFromJsonAsync<ApplicationUser>($"api/ApplicationUser/user/{username}");
            if (result != null)
            {
                user = result;
            }
        }
    }

    async Task LogOut()
    {
        if (!await Js.InvokeAsync<bool>("confirm", "Are you want to logout?"))
        {
            return;
        }
        else
        {
            await LocalStorage.RemoveItemAsync("token");
            await AuthStateProvider.GetAuthenticationStateAsync();
            var IsLoggedOut = true;
            navigationManager.NavigateTo($"/{IsLoggedOut}", true);
        }
    }
}