@layout MembershipLayout
@page "/membersfeatures"

<MudGrid Justify="Justify.Center" Class="mt-8 mb-8">
    <MudItem xs="10">
        <MudText Typo="Typo.h4" Style="font-family: 'Inter';font-weight: 700; color:#08243D;" Class="pb-2">Membership Benefits</MudText>
        <MudGrid>
            <MudItem xs="8">
                <MudGrid Class="mb-2">
                    <MudItem xs="12">
                        <MudText Typo="Typo.h5" Style="font-family: 'Inter'; color:#08243D;" Class="pb-2"><b>In 24 years we have helped over 29,000 employers fill over 300,000 jobs</b></MudText>
                        <MudButton Size="Size.Small" Variant="Variant.Filled" StartIcon="@Icons.Material.Outlined.StarBorder" Style="background-color:#0D47A1; text-transform:none;" Class="text-white">Click here to sign up</MudButton>
                    </MudItem>
                    <MudItem xs="12">
                        <MudGrid Spacing="0">
                            <MudItem xs="1">
                                <MudIcon Icon="@Icons.Material.Filled.Check" Size="Size.Large" />
                            </MudItem>
                            <MudItem xs="11">
                                <MudText Typo="Typo.body2" Style="font-family: 'Inter'; color:#08243D;" Class="pb-2 mt-1">24 year track record with tens of thousands of success stories. </MudText>
                            </MudItem>
                            <MudItem xs="1">
                                <MudIcon Icon="@Icons.Material.Filled.Check" Size="Size.Large" />
                            </MudItem>
                            <MudItem xs="11">
                                <MudText Typo="Typo.body2" Style="font-family: 'Inter'; color:#08243D;" Class="pb-2 mt-1">Direct Access - Resume goes directly to the employer - no more worrying if your resume wasn't delivered.</MudText>
                            </MudItem>
                            <MudItem xs="1" Class="mt-3">
                                <MudIcon Icon="@Icons.Material.Filled.Check" Size="Size.Large" />
                            </MudItem>
                            <MudItem xs="11" Class="mt-3">
                                <MudText Typo="Typo.body2" Style="font-family: 'Inter'; color:#08243D;" Class="pb-2 mt-1">Get access to listings before the public. Early access to the listings will allow you to get your resume to the employer before the public. In many cases some jobs don't make it to the public site. <a href="" style="font-family: 'Inter'; color:#08243D; text-decoration: underline solid #08243D 1px;">See Some Member-Only listings</a></MudText>
                            </MudItem>
                            <MudItem xs="1" Class="mt-3">
                                <MudIcon Icon="@Icons.Material.Filled.Check" Size="Size.Large" />
                            </MudItem>
                            <MudItem xs="11" Class="mt-3">
                                <MudText Typo="Typo.body2" Style="font-family: 'Inter'; color:#08243D;" Class="pb-2 mt-1">Application delivery - When using the member online application system we track your resume to ensure that the employer receives it. </MudText>
                            </MudItem>                                                                                   
                            <MudItem xs="1" Class="mt-3">                                                                             
                                <MudIcon Icon="@Icons.Material.Filled.Check" Size="Size.Large" />                        
                            </MudItem>                                                                                   
                            <MudItem xs="11" Class="mt-3">                                                                            
                                <MudText Typo="Typo.body2" Style="font-family: 'Inter'; color:#08243D;" Class="pb-2 mt-1">"My jobs" - Your own personalized job board with the jobs that match your preferences. </MudText>
                            </MudItem>                                                                                   
                            <MudItem xs="1" Class="mt-3">
                                <MudIcon Icon="@Icons.Material.Filled.Check" Size="Size.Large" />                        
                            </MudItem>                                                                                   
                            <MudItem xs="11" Class="mt-3">                                                                            
                                <MudText Typo="Typo.body2" Style="font-family: 'Inter'; color:#08243D;" Class="pb-2 mt-1">Get customized email alerts. The alert will notify you when a job is added to so you can get your resume to the employer. </MudText>
                            </MudItem>                                                                                   
                            <MudItem xs="1" Class="mt-3">                                                                             
                                <MudIcon Icon="@Icons.Material.Filled.Check" Size="Size.Large" />                        
                            </MudItem>                                                                                   
                            <MudItem xs="11" Class="mt-3">                                                                            
                                <MudText Typo="Typo.body2" Style="font-family: 'Inter'; color:#08243D;" Class="pb-2 mt-1">Store multiple resumes and cover letters in your profile and apply to jobs with a few clicks. </MudText>
                            </MudItem>                                                                                   
                            <MudItem xs="1" Class="mt-3">                                                                             
                                <MudIcon Icon="@Icons.Material.Filled.Check" Size="Size.Large" />                        
                            </MudItem>                                                                                   
                            <MudItem xs="11" Class="mt-3">                                                                            
                                <MudText Typo="Typo.body2" Style="font-family: 'Inter'; color:#08243D;" Class="pb-2 mt-1">Favorites - Save jobs to apply to later. </MudText>
                            </MudItem>                                                                                   
                            <MudItem xs="1" Class="mt-3">                                                                             
                                <MudIcon Icon="@Icons.Material.Filled.Check" Size="Size.Large" />                        
                            </MudItem>                                                                                   
                            <MudItem xs="11" Class="mt-3">                                                                            
                                <MudText Typo="Typo.body2" Style="font-family: 'Inter'; color:#08243D;" Class="pb-2 mt-1">Track your application history. </MudText>
                            </MudItem>                                                                                   
                            <MudItem xs="1" Class="mt-3">                                                                             
                                <MudIcon Icon="@Icons.Material.Filled.Check" Size="Size.Large" />                        
                            </MudItem>                                                                                   
                            <MudItem xs="11" Class="mt-3">
                                <MudText Typo="Typo.body2" Style="font-family: 'Inter'; color:#08243D;" Class="pb-2 mt-1">Especially now, competition for jobs in the Entertainment Industry is fierce. The membership was started by our community member's requests to give them an edge over the competition.. </MudText>
                            </MudItem>                                                                                   
                            <MudItem xs="1" Class="mt-3">                                                                             
                                <MudIcon Icon="@Icons.Material.Filled.Check" Size="Size.Large" />                        
                            </MudItem>                                                                                   
                            <MudItem xs="11" Class="mt-3">                                                                            
                                <MudText Typo="Typo.body2" Style="font-family: 'Inter'; color:#08243D;" Class="pb-2 mt-1">Is there something we don't have in the membership? Just let us know and we can add it. The membership was created by your suggestions. <a href="" style="font-family: 'Inter'; color:#08243D; text-decoration: underline solid #08243D 1px;">more</a>...</MudText>
                            </MudItem>                                                                                   
                            <MudItem xs="1" Class="mt-3">                                                                             
                                <MudIcon Icon="@Icons.Material.Filled.Check" Size="Size.Large" />                        
                            </MudItem>                                                                                   
                            <MudItem xs="11" Class="mt-3">
                                <MudText Typo="Typo.body2" Style="font-family: 'Inter'; color:#08243D;" Class="pb-2 mt-1">We are committed to first rate Customer Service and the Security and privacy of your information. We do not share your information with anyone. Ever. </MudText>
                            </MudItem>
                            <MudItem xs="1">                      
                            </MudItem> 
                            <MudItem xs="2" Class="text-center">
                                <MudImage Src="Images/bbbaplus72.png" />                     
                            </MudItem> 
                            <MudItem xs="9"></MudItem>
                        </MudGrid>
                    </MudItem>
                    <MudItem xs="12" Class="mt-3">
                        <MudText Typo="Typo.h5" Style="font-family: 'Inter'; color:#08243D;" Class="pb-2"><b>Employers who post with us</b></MudText>
                        <MudText Typo="Typo.body2" Style="font-family: 'Inter'; color:#08243D;" Class="pb-2">One of the best advantages is the incredible number of employers who post their jobs with us.</MudText>
                        <MudText Typo="Typo.body2" Style="font-family: 'Inter'; color:#08243D;" Class="pb-2 mt-3"><a href="" style="font-family: 'Inter'; color:#08243D; text-decoration: underline solid #08243D 1px;">Look at the employers who have postings on the site today.</a></MudText>
                        <MudButton Size="Size.Small" Variant="Variant.Filled" StartIcon="@Icons.Material.Outlined.StarBorder" Style="background-color:#0D47A1; text-transform:none;" Class="text-white mt-3">Click here to sign up</MudButton>
                    </MudItem>
                </MudGrid>
            </MudItem>
            <MudItem xs="4">
                <MudItem xs="12" Class="text-center">
                <MudButton Size="Size.Small" Variant="Variant.Filled" StartIcon="@Icons.Material.Outlined.StarBorder" Style="background-color:#0D47A1; text-transform:none;" Class="text-white mt-3">Click here to sign up</MudButton>
                </MudItem>
                <MudGrid Class="mt-2 border" Justify="Justify.Center">
                    <MudItem xs="4">
                        <MudImage Src="Images/chat.png" Fluid="true"/>
                        <MudText Typo="Typo.body1" Style="font-family: 'Inter'; color:#08243D;"><b>Need Help?</b></MudText>
                    </MudItem>
                        <MudText Typo="Typo.body2" Style="font-family: 'Inter'; color:#08243D;"><a href="#"><b>Click For Live or email suport or search our FAQs!</b></a></MudText>
                </MudGrid>
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>


@code {
}
