@layout MembershipLayout
@page "/signup"
@using Entertainmentcareers.net.Shared;

<MudGrid Justify="Justify.Center" Class="mt-8 mb-8">
    <MudItem xs="10">
        <MudGrid>
            <MudItem xs="8">
                <EditForm Model="job" OnValidSubmit="HandleSubmit">
                <DataAnnotationsValidator />
                <MudGrid Class="mb-2" Spacing="1">
                    <MudItem xs="12">
                            <MudText Typo="Typo.h4" Class="mb-2" Style="font-family: 'Inter';font-weight: 700; color:#08243D;">Membership Sign Up</MudText>
                    </MudItem>
                    <MudItem xs="12">
                        <MudText Typo="Typo.h5" Style="font-family: 'Inter'; color:#08243D;"><b>Step 1.</b></MudText>
                    </MudItem>
                    <MudItem xs="12">
                        <MudRadioGroup @bind-SelectedOption="@Plan">
                            <MudRadio Size="Size.Small" Option="@("Monthly")"><MudText Typo="Typo.body1" Style="font-family: 'Inter'; color:#08243D;">Monthly <MudIcon Icon="@Icons.Material.Filled.Star" Size="Size.Small" Style="color:#08243D;" /><b>Special Special - Discount on first month</b> $4.95 First Month <MudText Typo="Typo.caption" Style="font-family: 'Inter'; color:#08243D;">(normally $9.95)<br />After the first month, the Monthly Membership automatically renews at $9.95. <br />each month until you cancel the renewal. You can cancel the renewal at any time online.</MudText></MudText></MudRadio>
                            <br />
                            <MudRadio Size="Size.Small" Option="@("3 Months")"><MudText Typo="Typo.body1" Style="font-family: 'Inter'; color:#08243D;">3 Months - $25.00 <MudText Typo="Typo.caption" Style="font-family: 'Inter'; color:#08243D;">(normally $29.85)</MudText></MudText></MudRadio>
                            <br />
                            <MudRadio Size="Size.Small" Option="@("6 Months")"><MudText Typo="Typo.body1" Style="font-family: 'Inter'; color:#08243D;">6 Months - $45.00 <MudText Typo="Typo.caption" Style="font-family: 'Inter'; color:#08243D;">(normally $59.70)</MudText></MudText></MudRadio>
                            <br />
                            <MudRadio Size="Size.Small" Option="@("12 Months")"><MudText Typo="Typo.body1" Style="font-family: 'Inter'; color:#08243D;">12 Months - $70.00 <MudText Typo="Typo.caption" Style="font-family: 'Inter'; color:#08243D;">(normally $119.40)</MudText></MudText></MudRadio>
                        </MudRadioGroup>
                    </MudItem>
                    <MudItem xs="12">
                        <MudText Typo="Typo.h5" Style="font-family: 'Inter'; color:#08243D;"><b>Step 2.</b></MudText>
                    </MudItem>
                    <MudItem xs="8">
                        <MudTextField Label="Email Address" @bind-Value="job.Details" Margin="Margin.Dense" Required="true" Variant="Variant.Outlined" For="@(()=>job.Details)" HelperText="(this will be your login id)"></MudTextField>
                    </MudItem>
                    <MudItem xs="8">
                        <MudTextField Label="Password" @bind-Value="job.Details" Required="true" Margin="Margin.Dense" Variant="Variant.Outlined" For="@(()=>job.Details)" HelperText="(letters and numbers)"></MudTextField>
                    </MudItem>
                    <MudItem xs="1">
                        <MudTooltip Placement="Placement.Top" Text="Please use letters and numbers only. Minimum of 4 characters.">
                            <MudIconButton Style="color:#08243D;" Icon="@Icons.Material.Outlined.Info" />
                        </MudTooltip>
                    </MudItem>
                        <MudItem xs="12">
                            <MudText Typo="Typo.h5" Style="font-family: 'Inter'; color:#08243D;"><b>Step 3.</b> 
                                <MudTooltip Placement="Placement.Top">
                                    <ChildContent>
                                        <MudIconButton Style="color:#08243D;" Icon="@Icons.Material.Outlined.Info" />
                                    </ChildContent>
                                    <TooltipContent>
                                        <MudText Typo="Typo.caption">Enter member information. If you are not a U.S. resident,<br/>please contact support@entertainmentcareers.net.</MudText>
                                    </TooltipContent>
                                </MudTooltip>
                            </MudText>
                        </MudItem>
                        <MudItem xs="12">
                            <MudText Typo="Typo.body1" Style="font-family: 'Inter';font-weight: 700; color:#08243D;">Member Name</MudText>
                        </MudItem>
                        <MudItem xs="4">
                            <MudTextField Label="First Name" @bind-Value="job.Details" Margin="Margin.Dense" Required="true" Variant="Variant.Outlined" For="@(()=>job.Details)"></MudTextField>
                        </MudItem>
                        <MudItem xs="4">
                            <MudTextField Label="Last Name" @bind-Value="job.Details" Margin="Margin.Dense" Required="true" Variant="Variant.Outlined" For="@(()=>job.Details)"></MudTextField>
                        </MudItem>
                        <MudItem xs="12">
                            <MudText Typo="Typo.body1" Style="font-family: 'Inter';font-weight: 700; color:#08243D;">Billing Address</MudText>
                        </MudItem>
                        <MudItem xs="8">
                            <MudTextField Label="Street" @bind-Value="job.Details" Required="true" Margin="Margin.Dense" Variant="Variant.Outlined" For="@(()=>job.Details)"></MudTextField>
                        </MudItem>
                        <MudItem xs="4"></MudItem>
                        <MudItem xs="4">
                            <MudTextField Label="City" @bind-Value="job.Details" Margin="Margin.Dense" Required="true" Variant="Variant.Outlined" For="@(()=>job.Details)"></MudTextField>
                        </MudItem>
                        <MudItem xs="2">
                            <MudTextField Label="State" @bind-Value="job.Details" Margin="Margin.Dense" Required="true" Variant="Variant.Outlined" For="@(()=>job.Details)"></MudTextField>
                        </MudItem>
                        <MudItem xs="2">
                            <MudTextField Label="Zip" @bind-Value="job.Details" Margin="Margin.Dense" Required="true" Variant="Variant.Outlined" For="@(()=>job.Details)"></MudTextField>
                        </MudItem>
                        <MudItem xs="12">
                            <MudText Typo="Typo.h5" Style="font-family: 'Inter'; color:#08243D;" Class="mb-2"><b>Step 4.</b></MudText>
                        </MudItem>
                        <MudItem xs="12">
                            <MudGrid Style="background-color:#CCFF90;" Class="mb-2">
                            <MudItem xs="12">
                                <MudText Typo="Typo.h5" Style="font-family: 'Inter'; color:#08243D;"><b>Secured Credit Card Payment</b></MudText>
                            </MudItem>
                                <MudItem xs="12">
                                    <MudText Typo="Typo.caption" Style="font-family: 'Inter'; color:#08243D;"><MudIcon Icon="@Icons.Material.Filled.Lock" Size="Size.Small" Style="color:#08243D;" /> This is a secure 256-bit encrypted payment.</MudText>
                                </MudItem>
                                <MudItem xs="8">
                                    <MudTextField Label="Credit Card" @bind-Value="job.Details" Style="background-color:#FFFFFF;" Margin="Margin.Dense" Required="true" Variant="Variant.Outlined" For="@(()=>job.Details)"></MudTextField>
                                </MudItem>
                                <MudItem xs="4"></MudItem>
                                <MudItem xs="4">
                                    <MudSelect Label="Paid or UnPaid" T="string" Margin="Margin.Dense" Style="background-color:#FFFFFF;" Required="true" Variant="Variant.Outlined" @bind-Value="job.Details">
                                        <MudSelectItem Value="@("01")" />
                                        <MudSelectItem Value="@("02")" />
                                        <MudSelectItem Value="@("03")" />
                                        <MudSelectItem Value="@("04")" />
                                        <MudSelectItem Value="@("05")" />
                                        <MudSelectItem Value="@("06")" />
                                        <MudSelectItem Value="@("07")" />
                                        <MudSelectItem Value="@("08")" />
                                        <MudSelectItem Value="@("09")" />
                                        <MudSelectItem Value="@("10")" />
                                    </MudSelect>
                                </MudItem>
                                <MudItem xs="4">
                                    <MudSelect Label="Paid or UnPaid" T="string" Margin="Margin.Dense" Style="background-color:#FFFFFF;" Required="true" Variant="Variant.Outlined" @bind-Value="job.Details">
                                        <MudSelectItem Value="@("2023")" />
                                        <MudSelectItem Value="@("2024")" />
                                        <MudSelectItem Value="@("2025")" />
                                        <MudSelectItem Value="@("2026")" />
                                        <MudSelectItem Value="@("2027")" />
                                        <MudSelectItem Value="@("2028")" />
                                        <MudSelectItem Value="@("2029")" />
                                        <MudSelectItem Value="@("2030")" />
                                        <MudSelectItem Value="@("2031")" />
                                        <MudSelectItem Value="@("2032")" />
                                    </MudSelect>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudText Typo="Typo.caption" Style="font-family: 'Inter'; color:#08243D;">You must review and accept the Terms and Conditions before subscribing.</MudText>
                                    <MudCheckBox @bind-Checked="@job.Active" Label=" I agree and accept." Style="font-family: 'Inter'; color:#08243D;"></MudCheckBox>
                                </MudItem>
                            </MudGrid>
                        </MudItem>
                        <MudItem xs="12">
                            <MudText Typo="Typo.h5" Style="font-family: 'Inter'; color:#08243D;"><b>How Did You Find Us? (optional)</b></MudText>
                        </MudItem>
                        <MudItem xs="8">
                            <MudTextField @bind-Value="job.Details" Lines="4" Required="true" Variant="Variant.Outlined"></MudTextField>
                        </MudItem>
                        <MudItem xs="12">
                            <MudButton Size="Size.Large" ButtonType="ButtonType.Submit" Style="background-color: #689F38; color: #FFFFFF; text-transform:none;">&nbsp;&nbsp;Sign up&nbsp;&nbsp;</MudButton>
                        </MudItem>
                    </MudGrid>
                </EditForm>
            </MudItem>
            <MudItem xs="4">
                <MudGrid Justify="Justify.Center">
                    <MudItem xs="12" Class="border mt-4">
                        <MudGrid Justify="Justify.Center">
                    <MudItem xs="4">
                        <MudImage Src="Images/chat.png" Fluid="true" />
                        <MudText Typo="Typo.body1" Style="font-family: 'Inter'; color:#08243D;"><b>Need Help?</b></MudText>
                    </MudItem>
                    <MudText Typo="Typo.body2" Style="font-family: 'Inter'; color:#08243D;"><a href="#"><b>Click For Live or email suport or search our FAQs!</b></a></MudText>
                    </MudGrid>
                    </MudItem>
                    <MudItem xs="12" Class="border mt-4">
                        <MudText Typo="Typo.h5" Style="font-family: 'Inter'; color:#08243D;" Class="mb-2"><b>Membership</b></MudText>
                        <MudText Typo="Typo.body2" Style="font-family: 'Inter'; color:#08243D;">The membership portion of the site was designed by user's requests to get an edge over other job seekers. </MudText>
                        <MudText Typo="Typo.body2" Class="mt-4" Style="font-family: 'Inter'; color:#08243D;"><b>Get access to the listings before the public.</b></MudText>
                        <MudText Typo="Typo.body2" Style="font-family: 'Inter'; color:#08243D;">Recently there has been such a response to postings that they are removed within 48 hours. Members get access to the listings 24 hours before the public.<br /><a href="/membersfeatures" style="font-family: 'Inter'; color:#08243D; text-decoration: underline solid #08243D 1px;">Member benefits</a></MudText>
                    </MudItem>
                    <MudItem xs="12" Class="border mt-4">
                        <MudGrid>
                            <MudItem xs="4" Class="text-center">
                                <a href=""><MudImage Src="Images/gift.png" Fluid="true" /></a>
                            </MudItem>
                            <MudItem xs="5" Class="text-center">
                                <MudText Typo="Typo.body2" Style="font-family: 'Inter'; color:#08243D;">To give someone the gift of membership,<br/><a href="#" style="font-family: 'Inter'; color:#08243D; text-decoration: underline solid #08243D 1px;">click here</a>...</MudText>
                            </MudItem>
                        </MudGrid>
                    </MudItem>
                    <MudItem xs="12" Class="border mt-4">
                        <MudText Typo="Typo.h5" Style="font-family: 'Inter'; color:#08243D;" Class="mb-2"><b>Security & Privacy</b></MudText>
                        <MudText Typo="Typo.body2" Style="font-family: 'Inter'; color:#08243D;"><b>EntertainmentCareers.Net</b> uses secure technology to encrypt all your personal information to prevent it from being read during transmission over the Internet.</MudText>
                        <MudText Typo="Typo.body2" Class="mt-4" Style="font-family: 'Inter'; color:#08243D;">Additionally we hire outside companies to monitor our security and "attack" us on a daily basis to look for any weaknesses in our security. </MudText>
                    </MudItem>
                </MudGrid>
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>


@code {
    Job job = new Job();
    private string Plan { get; set; } = string.Empty;

    void HandleSubmit()
    {
        
    }
}
